<app-page-heading heading="Add Candidate">
</app-page-heading>


    <!-- we will place our fields here -->

 <form>

  <div class="container">
    <div class="row">
        <label class="col-md-2">AID</label>
        <input type="text" class="col-md-2" name="id" id="id">
    </div>
    &nbsp;
    <div class="row">
         <label class="col-md-2">First Name</label>
         <input type="text" class="col-md-3" name="firstName" id="firstName">
    </div>
    &nbsp;
    <div class="row">
         <label class="col-md-2">Last Name</label>
         <input type="text" class="col-md-3" name="lastName" id="lastName">
    </div>
    &nbsp;
    <div class="row">
         <label class="col-md-2">Email ID</label>
         <input type="email" class="col-md-3" name="eMailAddr" id="eMailAddr">
    </div>
    &nbsp;
    <div class="row">
          <label class="col-md-2">Mobile</label>
          <input type="tel" class="col-md-2" name="mobileNum" id="mobileNum">
    </div>
    &nbsp;
    &nbsp;
    <div class="row">
      <button type="submit" class="col-md-3">Save & E-mail Candidate</button>
      &nbsp;&nbsp;
      <button type="submit" class="col-md-2">Cancel</button>
    </div>
  </div>

 </form>


