<!--
<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

<div>
  &lt;!&ndash;<div class="card">
    <pre class="card-block card-header"><em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>
  </div>&ndash;&gt;
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="false" [dateDisabled]="dateDisabled"></datepicker>
  </div>
</div>
-->


<!--<div class="col-sm-3">
  <div class='col-sm-12'>
    <div class="form-group">
      <div class='input-group date'>
        <input type='text' class="form-control" #cwAssignmentEndDte="ngModel" id="cwAssignmentEndDte" name="cwAssignmentEndDte" placeholder="Assignment end date" [(ngModel)]="work.cwAssignmentEndDte" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig"/>
        <span class="input-group-addon">--><!--
            <span class="glyphicon glyphicon-time" (click)="dp.show() " placement="bottom"></span>
         </span>
      </div>
    </div>
  </div>
</div>
-->

