<app-page-heading heading="Candidate Details">
</app-page-heading>
 

     Candidate Basic Info Displayed here    Candidate ID = {{candidateId}}  
    <app-accordian tittle="Candidate Basic Info" isOpen="true">
     <div class="row">
      <div class="">
        <dl class="col-xs-12 col-sm-6 dl-horizontal">
          <dt  class="text-left">Name </dt>
          <dd> {{candidateBasicInfo.firstName}} {{candidateBasicInfo.middleName}} {{candidateBasicInfo.lastName}} </dd>
        </dl>
        <dl class="col-xs-12 col-sm-6  dl-horizontal">
          <dt  class="text-left">Aid </dt>
          <dd> {{candidateBasicInfo.aid}}  </dd>
    
        </dl>
        <dl class="col-xs-12 col-sm-6  dl-horizontal">
          <dt  class="text-left">Contact # </dt>
          <dd> {{candidateBasicInfo.contactNumber}} </dd>
        </dl>
        <dl class="col-xs-12 col-sm-6  dl-horizontal">
          <dt  class="text-left">Email Id </dt>
          <dd> {{candidateBasicInfo.email}} </dd>
        </dl>

      </div>
    </div> 
    </app-accordian>

    <app-accordian tittle="Current Status" isOpen="true">
     <app-candidate-progress status={{currentStaus}}></app-candidate-progress>     
      
    </app-accordian>

    <app-accordian tittle="IDRF" isOpen="true">
     Candidate FOrm here    
   </app-accordian>

    <app-accordian tittle="Audit History" isOpen="true">
      Audit History       
    </app-accordian>
