
<msw-navbar></msw-navbar>
<!--<template #popTemplate triggers=""><app-date-picker ></app-date-picker></template>-->
<form #workForm="ngForm" class="editForm form-horizontal" novalidate>
  <h2 class="head  text-center">{{title}}</h2>
  <div class="clearfix"></div>
  <br/>
  <div class="form-group">
    <label class="control-label col-sm-3" for="appprovedContactNum">Approved Contract Number</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #appprovedContactNum="ngModel" id="appprovedContactNum" name="appprovedContactNum" type="text" placeholder="Contract number" [(ngModel)]="work.appprovedContactNum">
    </div>
    <label class="control-label col-sm-2" for="contractEndDte">Contract End Date</label>
    <div class="col-sm-3">
      <div class='col-sm-12'>
      <div class="form-group">
        <div class='input-group date'>
          <input type='text' class="form-control" #contractEndDte="ngModel"  (keypress)="_keyPress($event)"  id="contractEndDte" name="contractEndDte" placeholder="Contract end date" ng-disabled='true' [(ngModel)]="work.contractEndDte" bsDatepicker #dp="bsDatepicker" style="z-index:5000;"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time" (click)="dp.show() " ></span>
              <app-date-picker></app-date-picker>
         </span>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="cwAssignmentEndDte" >CW Assignment End Date</label>
    <div class="col-sm-3">
      <div class='col-sm-12'>
        <div class="form-group">
          <div class='input-group date'>
            <input type='text' class="form-control" #cwAssignmentEndDte="ngModel" id="cwAssignmentEndDte" name="cwAssignmentEndDte" (keypress)="_keyPress($event)" placeholder="Assignment end date" [(ngModel)]="work.cwAssignmentEndDte" bsDatepicker #dp1="bsDatepicker" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time" (click)="dp1.show() "></span>
              <app-date-picker></app-date-picker>
         </span>
          </div>
        </div>
      </div>
    </div>

    <label class="control-label col-sm-2" for="supplierName">Supplier Name</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #supplierName="ngModel" id="supplierName" name="supplierName" type="text" placeholder="" [(ngModel)]="work.supplierName">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="cwWorkCity">CW Work City</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #cwWorkCity="ngModel" id="cwWorkCity" name="cwWorkCity" type="text" placeholder="" [(ngModel)]="work.cwWorkCity">
    </div>
    <label class="control-label col-sm-2" for="cwWorkLocation">CW Work Location</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #cwWorkLocation="ngModel" id="cwWorkLocation" name="cwWorkLocation" type="text" placeholder="" [(ngModel)]="work.cwWorkLocation">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="cwWorkMailDrop">CW Work Mail Drop</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #cwWorkMailDrop="ngModel" id="cwWorkMailDrop" name="cwWorkMailDrop" type="text" placeholder="" [(ngModel)]="work.cwWorkMailDrop">
    </div>


  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="">CSI Info Access</label>
    <div class="col-sm-3">
      <!--<input class="form-control input-md" #csiInfoAccess="ngModel" id="csiInfoAccess" name="csiInfoAccess" type="text" placeholder="" [(ngModel)]="work.csiInfoAccess">-->
      <span class="col-sm-3"><input type="radio" #csiInfoAccess="ngModel" name="csiInfoAccess" [(ngModel)]="work.csiInfoAccess" value="YES" > Yes</span>
      <span class="col-sm-3"><input type="radio" #csiInfoAccess="ngModel" name="csiInfoAccess" [(ngModel)]="work.csiInfoAccess" value="NO" > No</span>
    </div>
    <label class="control-label col-sm-2">Candidate Reffered by JPMC Employee</label>
    <div class="col-sm-3">
      <!--<input class="form-control input-md" #candidateReferredToYou="ngModel" id="candidateReferredToYou" name="candidateReferredToYou" type="text" placeholder="" [(ngModel)]="work.candidateReferredToYou">-->
      <span class="col-sm-3"><input type="radio" #candidateReferredToYou="ngModel" name="candidateReferredToYou" [(ngModel)]="work.candidateReferredToYou" value="YES" > Yes</span>
      <span class="col-sm-3"><input type="radio" #candidateReferredToYou="ngModel" name="candidateReferredToYou" [(ngModel)]="work.candidateReferredToYou" value="NO" > No</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="referralOriginate">Referral originate</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #referralOriginate="ngModel" id="referralOriginate" name="referralOriginate" type="text" placeholder="" [(ngModel)]="work.referralOriginate">
    </div>
    <label class="control-label col-sm-2" for="">Candidate selected within JPMC guidelines</label>
    <div class="col-sm-3">
     <!-- <input class="form-control input-md " #candiateSeletedWithinGuidelines="ngModel" id="candiateSeletedWithinGuidelines" name="candiateSeletedWithinGuidelines" type="text" placeholder="" [(ngModel)]="work.candiateSeletedWithinGuidelines">-->
      <span class="col-sm-3"><input type="radio" #candiateSeletedWithinGuidelines="ngModel" name="candiateSeletedWithinGuidelines" [(ngModel)]="work.candiateSeletedWithinGuidelines" value="YES" > Yes</span>
      <span class="col-sm-3"><input type="radio" #candiateSeletedWithinGuidelines="ngModel" name="candiateSeletedWithinGuidelines" [(ngModel)]="work.candiateSeletedWithinGuidelines" value="NO" > No</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="costCenter">Cost Center</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #costCenter="ngModel" id="costCenter" name="costCenter" type="text" placeholder="" [(ngModel)]="work.costCenter">
    </div>
    <label class="control-label col-sm-2" for="cwJobCode">CW Job Code</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #cwJobCode="ngModel" id="cwJobCode" name="cwJobCode" type="text" placeholder="" [(ngModel)]="work.cwJobCode">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="lobName">LOB Name</label>
    <div class="col-sm-3">
      <input class="form-control input-md" #lobName="ngModel" id="lobName" name="lobName" type="text" placeholder="" [(ngModel)]="work.lobName">
    </div>
    <label class="control-label col-sm-2" for="cwAssignmentStartDte">CW Assignment Start Date</label>

    <div class="col-sm-3">
      <div class='col-sm-12'>
        <div class="form-group">
          <div class='input-group date'>
            <input type='text' class="form-control" #cwAssignmentStartDte="ngModel" id="cwAssignmentStartDte" (keypress)="_keyPress($event)" name="cwAssignmentStartDte" placeholder="Assignment start date" [(ngModel)]="work.cwAssignmentStartDte" bsDatepicker #dp2="bsDatepicker" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time" (click)="dp2.show() " placement="bottom"></span>
              <app-date-picker></app-date-picker>
         </span>
          </div>
        </div>
      </div>
    </div>

  </div>


</form>
<div class="form-group text-center space-20">
  <a routerLink="/idrf/personal/{{candidateId}}"><button  class="btn btn-outline-rounded btn-default" (click)="save(workForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button></a>
  <a  routerLink="/idrf/address/{{candidateId}}"><button  class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Save & Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button></a>
</div>

