<app-page-heading heading="Dashboard">
</app-page-heading>
<div class="content-box-large">
  				<div class="panel panel-primary">
					<div class="panel-heading">Onboarding Live</div>

  				<div class="panel-body" style="height:370px;overflow-y:scroll;">
  					<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example" >
						<thead>
							<tr>
								<th>AID</th>
								<th>Name</th>
								<th>Status</th>
								<th>BG Check</th>
								<th>Demographics</th>
                <th>SLA</th>
                <th>Contact</th>
                <th>Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor='let onBoardingDetail of onBoardingDetails' class='pointer' (click)="activateRow(onBoardingDetail);showProgress(onBoardingDetail.status);" [ngClass]="{'selected': onBoardingDetail.aid == selectedRow}">

								<td><a routerLink="/candidate-details/{{ onBoardingDetail.aid }}" routerLinkActive="active" style="text-decration:none;"
                       [ngClass]="{'anchorSelected': onBoardingDetail.aid == selectedRow}">{{ onBoardingDetail.aid }}</a></td>
								<td>{{ onBoardingDetail.fullName }}</td>
								<td>{{ onBoardingDetail.status }}</td>
								<td>{{ onBoardingDetail.bg }}</td>
								<td>{{ onBoardingDetail.demograph }}</td>
								<td>{{ onBoardingDetail.sla }}</td>
								<td>{{ onBoardingDetail.contactPhone }}</td>
								<td>{{ onBoardingDetail.comments }}</td>
							</tr>
						</tbody>
					</table>
  				</div>
  			</div>
        </div>
    <div *ngIf="tabProcessing">
      <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
    <div *ngIf="isProcessing">
      <tabset style="font-weight: bold;">
        <tab heading="Candidate Progess" >
          <div class="col-xs-12 progressBar">
            <progressbar class="progress-striped" value="{{progressPercent}}" type="{{progressColor}}">{{progressPercent}}%</progressbar>
          </div>
          <div class="col-xs-12" style="padding-top:15px;">
              <div class="col-xs-6" *ngFor='let completedSteps of completedSteps'>
                <div class="col-xs-10">{{completedSteps}}</div>
                <div class="col-xs-2"><span class="glyphicon glyphicon-ok"></span></div>
              </div>
              <div class="col-xs-6" *ngFor='let inCompleteSteps of inCompleteSteps'>
                <div class="col-xs-10">{{inCompleteSteps}}</div>
                <div class="col-xs-2"><span class="glyphicon glyphicon-remove"></span></div>
              </div>
          </div>
        </tab>

      </tabset>

    </div>
