.selected{
  background-color:#5bc0de !important;
  font-weight: bold;
  color:#ffffff !important;
}
.pointer{
  cursor:pointer;
}
.anchorSelected{
  color:#ffffff;
}
.progressBar{
  padding:30px 15px 5px 15px;background-color:white;
}
.lastStep{
  background-color:green;
  font-weight: 400px;
  color:white;

}
